body {
  font-family: "Source Code Pro", monospace;
  color: #EEFFFC;
  background-color: #030D21; }

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

.grid {
  overflow: hidden; }

.row:after {
  clear: both;
  content: '';
  display: table; }
.row.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
.row.gutters {
  margin-top: -10px;
  margin-left: -5px;
  margin-right: -5px; }

[class*='col-'] {
  float: left; }
  .flex > [class*='col-'] {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; }
  .gutters > [class*='col-'] {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px; }

@media (min-width: 0) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: initial;
    padding-left: 5px;
    padding-right: 5px; }

  .col-xs-seventh {
    width: 14.2857%; }

  .col-xs-1fifth {
    width: 20%; }

  .col-xs-2fifth {
    width: 40%; }

  .col-xs-3fifth {
    width: 60%; }

  .col-xs-4fifth {
    width: 80%; }

  .col-xs-main {
    width: calc(100% - 200px); }

  .col-xs-side {
    width: 200px; }

  .offset-xs-1 {
    margin-left: 8.3333333333%; }

  .col-xs-1 {
    width: 8.3333333333%; }

  .offset-xs-2 {
    margin-left: 16.6666666667%; }

  .col-xs-2 {
    width: 16.6666666667%; }

  .offset-xs-3 {
    margin-left: 25%; }

  .col-xs-3 {
    width: 25%; }

  .offset-xs-4 {
    margin-left: 33.3333333333%; }

  .col-xs-4 {
    width: 33.3333333333%; }

  .offset-xs-5 {
    margin-left: 41.6666666667%; }

  .col-xs-5 {
    width: 41.6666666667%; }

  .offset-xs-6 {
    margin-left: 50%; }

  .col-xs-6 {
    width: 50%; }

  .offset-xs-7 {
    margin-left: 58.3333333333%; }

  .col-xs-7 {
    width: 58.3333333333%; }

  .offset-xs-8 {
    margin-left: 66.6666666667%; }

  .col-xs-8 {
    width: 66.6666666667%; }

  .offset-xs-9 {
    margin-left: 75%; }

  .col-xs-9 {
    width: 75%; }

  .offset-xs-10 {
    margin-left: 83.3333333333%; }

  .col-xs-10 {
    width: 83.3333333333%; }

  .offset-xs-11 {
    margin-left: 91.6666666667%; }

  .col-xs-11 {
    width: 91.6666666667%; }

  .offset-xs-12 {
    margin-left: 100%; }

  .col-xs-12 {
    width: 100%; }

  .flex-order-xs-1 {
    order: 1; }

  .flex-order-xs-2 {
    order: 2; }

  .flex-order-xs-3 {
    order: 3; }

  .flex-order-xs-4 {
    order: 4; }

  .flex-order-xs-5 {
    order: 5; }

  .flex-order-xs-6 {
    order: 6; }

  .flex-order-xs-7 {
    order: 7; }

  .flex-order-xs-8 {
    order: 8; }

  .flex-order-xs-9 {
    order: 9; }

  .flex-order-xs-10 {
    order: 10; }

  .flex-order-xs-11 {
    order: 11; }

  .flex-order-xs-12 {
    order: 12; } }
@media (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: initial;
    padding-left: 5px;
    padding-right: 5px; }

  .col-sm-seventh {
    width: 14.2857%; }

  .col-sm-1fifth {
    width: 20%; }

  .col-sm-2fifth {
    width: 40%; }

  .col-sm-3fifth {
    width: 60%; }

  .col-sm-4fifth {
    width: 80%; }

  .col-sm-main {
    width: calc(100% - 200px); }

  .col-sm-side {
    width: 200px; }

  .offset-sm-1 {
    margin-left: 8.3333333333%; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .offset-sm-2 {
    margin-left: 16.6666666667%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .col-sm-3 {
    width: 25%; }

  .offset-sm-4 {
    margin-left: 33.3333333333%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .offset-sm-5 {
    margin-left: 41.6666666667%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .col-sm-6 {
    width: 50%; }

  .offset-sm-7 {
    margin-left: 58.3333333333%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .offset-sm-8 {
    margin-left: 66.6666666667%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .col-sm-9 {
    width: 75%; }

  .offset-sm-10 {
    margin-left: 83.3333333333%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .offset-sm-11 {
    margin-left: 91.6666666667%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .offset-sm-12 {
    margin-left: 100%; }

  .col-sm-12 {
    width: 100%; }

  .flex-order-sm-1 {
    order: 1; }

  .flex-order-sm-2 {
    order: 2; }

  .flex-order-sm-3 {
    order: 3; }

  .flex-order-sm-4 {
    order: 4; }

  .flex-order-sm-5 {
    order: 5; }

  .flex-order-sm-6 {
    order: 6; }

  .flex-order-sm-7 {
    order: 7; }

  .flex-order-sm-8 {
    order: 8; }

  .flex-order-sm-9 {
    order: 9; }

  .flex-order-sm-10 {
    order: 10; }

  .flex-order-sm-11 {
    order: 11; }

  .flex-order-sm-12 {
    order: 12; } }
@media (min-width: 640px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: initial;
    padding-left: 5px;
    padding-right: 5px; }

  .col-md-seventh {
    width: 14.2857%; }

  .col-md-1fifth {
    width: 20%; }

  .col-md-2fifth {
    width: 40%; }

  .col-md-3fifth {
    width: 60%; }

  .col-md-4fifth {
    width: 80%; }

  .col-md-main {
    width: calc(100% - 200px); }

  .col-md-side {
    width: 200px; }

  .offset-md-1 {
    margin-left: 8.3333333333%; }

  .col-md-1 {
    width: 8.3333333333%; }

  .offset-md-2 {
    margin-left: 16.6666666667%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .col-md-3 {
    width: 25%; }

  .offset-md-4 {
    margin-left: 33.3333333333%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .offset-md-5 {
    margin-left: 41.6666666667%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .col-md-6 {
    width: 50%; }

  .offset-md-7 {
    margin-left: 58.3333333333%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .offset-md-8 {
    margin-left: 66.6666666667%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .col-md-9 {
    width: 75%; }

  .offset-md-10 {
    margin-left: 83.3333333333%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .offset-md-11 {
    margin-left: 91.6666666667%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .offset-md-12 {
    margin-left: 100%; }

  .col-md-12 {
    width: 100%; }

  .flex-order-md-1 {
    order: 1; }

  .flex-order-md-2 {
    order: 2; }

  .flex-order-md-3 {
    order: 3; }

  .flex-order-md-4 {
    order: 4; }

  .flex-order-md-5 {
    order: 5; }

  .flex-order-md-6 {
    order: 6; }

  .flex-order-md-7 {
    order: 7; }

  .flex-order-md-8 {
    order: 8; }

  .flex-order-md-9 {
    order: 9; }

  .flex-order-md-10 {
    order: 10; }

  .flex-order-md-11 {
    order: 11; }

  .flex-order-md-12 {
    order: 12; } }
@media (min-width: 900px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 900px; }

  .col-lg-seventh {
    width: 14.2857%; }

  .col-lg-1fifth {
    width: 20%; }

  .col-lg-2fifth {
    width: 40%; }

  .col-lg-3fifth {
    width: 60%; }

  .col-lg-4fifth {
    width: 80%; }

  .col-lg-main {
    width: calc(100% - 200px); }

  .col-lg-side {
    width: 200px; }

  .offset-lg-1 {
    margin-left: 8.3333333333%; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .offset-lg-2 {
    margin-left: 16.6666666667%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .col-lg-3 {
    width: 25%; }

  .offset-lg-4 {
    margin-left: 33.3333333333%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .offset-lg-5 {
    margin-left: 41.6666666667%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .col-lg-6 {
    width: 50%; }

  .offset-lg-7 {
    margin-left: 58.3333333333%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .offset-lg-8 {
    margin-left: 66.6666666667%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .col-lg-9 {
    width: 75%; }

  .offset-lg-10 {
    margin-left: 83.3333333333%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .offset-lg-11 {
    margin-left: 91.6666666667%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .offset-lg-12 {
    margin-left: 100%; }

  .col-lg-12 {
    width: 100%; }

  .flex-order-lg-1 {
    order: 1; }

  .flex-order-lg-2 {
    order: 2; }

  .flex-order-lg-3 {
    order: 3; }

  .flex-order-lg-4 {
    order: 4; }

  .flex-order-lg-5 {
    order: 5; }

  .flex-order-lg-6 {
    order: 6; }

  .flex-order-lg-7 {
    order: 7; }

  .flex-order-lg-8 {
    order: 8; }

  .flex-order-lg-9 {
    order: 9; }

  .flex-order-lg-10 {
    order: 10; }

  .flex-order-lg-11 {
    order: 11; }

  .flex-order-lg-12 {
    order: 12; } }
@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px; }

  .col-xl-seventh {
    width: 14.2857%; }

  .col-xl-1fifth {
    width: 20%; }

  .col-xl-2fifth {
    width: 40%; }

  .col-xl-3fifth {
    width: 60%; }

  .col-xl-4fifth {
    width: 80%; }

  .col-xl-main {
    width: calc(100% - 200px); }

  .col-xl-side {
    width: 200px; }

  .offset-xl-1 {
    margin-left: 8.3333333333%; }

  .col-xl-1 {
    width: 8.3333333333%; }

  .offset-xl-2 {
    margin-left: 16.6666666667%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .col-xl-3 {
    width: 25%; }

  .offset-xl-4 {
    margin-left: 33.3333333333%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .offset-xl-5 {
    margin-left: 41.6666666667%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .col-xl-6 {
    width: 50%; }

  .offset-xl-7 {
    margin-left: 58.3333333333%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .offset-xl-8 {
    margin-left: 66.6666666667%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .col-xl-9 {
    width: 75%; }

  .offset-xl-10 {
    margin-left: 83.3333333333%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .offset-xl-11 {
    margin-left: 91.6666666667%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .offset-xl-12 {
    margin-left: 100%; }

  .col-xl-12 {
    width: 100%; }

  .flex-order-xl-1 {
    order: 1; }

  .flex-order-xl-2 {
    order: 2; }

  .flex-order-xl-3 {
    order: 3; }

  .flex-order-xl-4 {
    order: 4; }

  .flex-order-xl-5 {
    order: 5; }

  .flex-order-xl-6 {
    order: 6; }

  .flex-order-xl-7 {
    order: 7; }

  .flex-order-xl-8 {
    order: 8; }

  .flex-order-xl-9 {
    order: 9; }

  .flex-order-xl-10 {
    order: 10; }

  .flex-order-xl-11 {
    order: 11; }

  .flex-order-xl-12 {
    order: 12; } }
.flex-parent {
  display: flex; }

.flex-child {
  flex: 1 1 auto; }

.flex-none {
  flex: none; }

.sidebar {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%); }

.inventory {
  position: relative;
  padding-top: 20px; }
  .inventory li {
    margin-bottom: 15px; }
  .inventory .full-bar {
    content: '';
    margin-left: -5px;
    width: 0px;
    height: 20px;
    background-color: #0B4574;
    display: inline-block;
    transform: skew(15deg, 0deg); }
  .inventory .bar {
    content: "";
    width: 0px;
    height: 20px;
    background-color: #2DF5D0;
    display: inline-block;
    transform: skew(15deg, 0deg); }
  .inventory img {
    position: relative;
    top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle; }
  .inventory .food .info {
    position: absolute;
    left: 0px;
    top: 10px; }
  .inventory .fuel .info {
    position: absolute;
    left: 0px;
    top: 50px; }
  .inventory .ammo .info {
    position: absolute;
    left: 0px;
    top: 89px; }
  .inventory .fuel, .inventory .food, .inventory .ammo {
    vertical-align: middle; }

.stats {
  margin-top: 20px; }
  .stats img {
    position: relative;
    top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle; }
  .stats li {
    margin-bottom: 15px; }

/*# sourceMappingURL=style.css.map */
