html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

::selection {
  background: #EEFFFC;
  color: #2DF5D0; }

body {
  font-family: "Source Code Pro", monospace, sans-serif;
  color: #EEFFFC;
  background-color: #030D21;
  margin: 0;
  font-size: 100%;
  font-weight: 100; }

@media (max-width: 639px) {
  body {
    font-size: 90%; } }
a {
  color: #2DF5D0;
  text-decoration: none;
  text-shadow: 0 0 0 transparent;
  transition: all 500ms ease-in-out; }
  a:hover, a:focus {
    color: #FFE387;
    text-shadow: 0 0 20px #FFE387; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-family: "Source Code Pro", monospace, sans-serif;
  color: #2DF5D0;
  font-size: 4em;
  font-weight: 700;
  border: 5px solid #2DF5D0;
  text-transform: uppercase;
  display: inline-block;
  padding: .05em .2em;
  border-radius: .15em;
  margin-bottom: .3em;
  text-shadow: 0 0 15px #2DF5D0;
  box-shadow: 0 0 15px #2DF5D0;
  text-align: center; }

h2 {
  font-family: "Source Code Pro", monospace, sans-serif;
  color: #2DF5D0;
  font-size: 3em;
  font-weight: 700;
  text-shadow: 0 0 15px #06836c;
  margin-bottom: .15em;
  margin-top: .15em;
  text-transform: uppercase;
  text-align: center; }

h3 {
  font-family: "Source Code Pro", monospace, sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase; }

h4 {
  font-family: "Source Code Pro", monospace, sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  display: block; }

@media (max-width: 639px) {
  h2 {
    font-size: 1.75em; }

  h3 {
    font-size: 1.5em; }

  h4 {
    font-size: 1.25em; } }
section {
  display: table;
  height: 100vh;
  width: 100%; }

input {
  border: 0;
  border-bottom: 3px solid #EEFFFC;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-color: transparent;
  font-size: 1.2em;
  text-align: center;
  font-family: "Source Code Pro", monospace, sans-serif;
  margin-top: 1em;
  color: #EEFFFC;
  font-weight: 100; }
  input:focus {
    outline: none; }
  li > input {
    width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#month ul {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  color: white;
  list-style: none; }
  #month ul li {
    width: 100%; }

nav {
  position: fixed;
  top: 0; }
  nav ul {
    padding-left: 0; }
  nav li {
    display: inline-block;
    padding: .75em .5em; }

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

.grid {
  overflow: hidden; }

.row:after {
  clear: both;
  content: '';
  display: table; }
.row.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
.row.gutters {
  margin-top: -10px;
  margin-left: -5px;
  margin-right: -5px; }

[class*='col-'] {
  float: left; }
  .flex > [class*='col-'] {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; }
  .gutters > [class*='col-'] {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px; }

@media (min-width: 0) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: initial;
    padding-left: 5px;
    padding-right: 5px; }

  .col-xs-seventh {
    width: 14.2857%; }

  .col-xs-1fifth {
    width: 20%; }

  .col-xs-2fifth {
    width: 40%; }

  .col-xs-3fifth {
    width: 60%; }

  .col-xs-4fifth {
    width: 80%; }

  .col-xs-main {
    width: calc(100% - 200px); }

  .col-xs-side {
    width: 200px; }

  .offset-xs-1 {
    margin-left: 8.3333333333%; }

  .col-xs-1 {
    width: 8.3333333333%; }

  .offset-xs-2 {
    margin-left: 16.6666666667%; }

  .col-xs-2 {
    width: 16.6666666667%; }

  .offset-xs-3 {
    margin-left: 25%; }

  .col-xs-3 {
    width: 25%; }

  .offset-xs-4 {
    margin-left: 33.3333333333%; }

  .col-xs-4 {
    width: 33.3333333333%; }

  .offset-xs-5 {
    margin-left: 41.6666666667%; }

  .col-xs-5 {
    width: 41.6666666667%; }

  .offset-xs-6 {
    margin-left: 50%; }

  .col-xs-6 {
    width: 50%; }

  .offset-xs-7 {
    margin-left: 58.3333333333%; }

  .col-xs-7 {
    width: 58.3333333333%; }

  .offset-xs-8 {
    margin-left: 66.6666666667%; }

  .col-xs-8 {
    width: 66.6666666667%; }

  .offset-xs-9 {
    margin-left: 75%; }

  .col-xs-9 {
    width: 75%; }

  .offset-xs-10 {
    margin-left: 83.3333333333%; }

  .col-xs-10 {
    width: 83.3333333333%; }

  .offset-xs-11 {
    margin-left: 91.6666666667%; }

  .col-xs-11 {
    width: 91.6666666667%; }

  .offset-xs-12 {
    margin-left: 100%; }

  .col-xs-12 {
    width: 100%; }

  .flex-order-xs-1 {
    order: 1; }

  .flex-order-xs-2 {
    order: 2; }

  .flex-order-xs-3 {
    order: 3; }

  .flex-order-xs-4 {
    order: 4; }

  .flex-order-xs-5 {
    order: 5; }

  .flex-order-xs-6 {
    order: 6; }

  .flex-order-xs-7 {
    order: 7; }

  .flex-order-xs-8 {
    order: 8; }

  .flex-order-xs-9 {
    order: 9; }

  .flex-order-xs-10 {
    order: 10; }

  .flex-order-xs-11 {
    order: 11; }

  .flex-order-xs-12 {
    order: 12; } }
@media (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: initial;
    padding-left: 5px;
    padding-right: 5px; }

  .col-sm-seventh {
    width: 14.2857%; }

  .col-sm-1fifth {
    width: 20%; }

  .col-sm-2fifth {
    width: 40%; }

  .col-sm-3fifth {
    width: 60%; }

  .col-sm-4fifth {
    width: 80%; }

  .col-sm-main {
    width: calc(100% - 200px); }

  .col-sm-side {
    width: 200px; }

  .offset-sm-1 {
    margin-left: 8.3333333333%; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .offset-sm-2 {
    margin-left: 16.6666666667%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .col-sm-3 {
    width: 25%; }

  .offset-sm-4 {
    margin-left: 33.3333333333%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .offset-sm-5 {
    margin-left: 41.6666666667%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .col-sm-6 {
    width: 50%; }

  .offset-sm-7 {
    margin-left: 58.3333333333%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .offset-sm-8 {
    margin-left: 66.6666666667%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .col-sm-9 {
    width: 75%; }

  .offset-sm-10 {
    margin-left: 83.3333333333%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .offset-sm-11 {
    margin-left: 91.6666666667%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .offset-sm-12 {
    margin-left: 100%; }

  .col-sm-12 {
    width: 100%; }

  .flex-order-sm-1 {
    order: 1; }

  .flex-order-sm-2 {
    order: 2; }

  .flex-order-sm-3 {
    order: 3; }

  .flex-order-sm-4 {
    order: 4; }

  .flex-order-sm-5 {
    order: 5; }

  .flex-order-sm-6 {
    order: 6; }

  .flex-order-sm-7 {
    order: 7; }

  .flex-order-sm-8 {
    order: 8; }

  .flex-order-sm-9 {
    order: 9; }

  .flex-order-sm-10 {
    order: 10; }

  .flex-order-sm-11 {
    order: 11; }

  .flex-order-sm-12 {
    order: 12; } }
@media (min-width: 640px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: initial;
    padding-left: 5px;
    padding-right: 5px; }

  .col-md-seventh {
    width: 14.2857%; }

  .col-md-1fifth {
    width: 20%; }

  .col-md-2fifth {
    width: 40%; }

  .col-md-3fifth {
    width: 60%; }

  .col-md-4fifth {
    width: 80%; }

  .col-md-main {
    width: calc(100% - 200px); }

  .col-md-side {
    width: 200px; }

  .offset-md-1 {
    margin-left: 8.3333333333%; }

  .col-md-1 {
    width: 8.3333333333%; }

  .offset-md-2 {
    margin-left: 16.6666666667%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .col-md-3 {
    width: 25%; }

  .offset-md-4 {
    margin-left: 33.3333333333%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .offset-md-5 {
    margin-left: 41.6666666667%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .col-md-6 {
    width: 50%; }

  .offset-md-7 {
    margin-left: 58.3333333333%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .offset-md-8 {
    margin-left: 66.6666666667%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .col-md-9 {
    width: 75%; }

  .offset-md-10 {
    margin-left: 83.3333333333%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .offset-md-11 {
    margin-left: 91.6666666667%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .offset-md-12 {
    margin-left: 100%; }

  .col-md-12 {
    width: 100%; }

  .flex-order-md-1 {
    order: 1; }

  .flex-order-md-2 {
    order: 2; }

  .flex-order-md-3 {
    order: 3; }

  .flex-order-md-4 {
    order: 4; }

  .flex-order-md-5 {
    order: 5; }

  .flex-order-md-6 {
    order: 6; }

  .flex-order-md-7 {
    order: 7; }

  .flex-order-md-8 {
    order: 8; }

  .flex-order-md-9 {
    order: 9; }

  .flex-order-md-10 {
    order: 10; }

  .flex-order-md-11 {
    order: 11; }

  .flex-order-md-12 {
    order: 12; } }
@media (min-width: 900px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 900px; }

  .col-lg-seventh {
    width: 14.2857%; }

  .col-lg-1fifth {
    width: 20%; }

  .col-lg-2fifth {
    width: 40%; }

  .col-lg-3fifth {
    width: 60%; }

  .col-lg-4fifth {
    width: 80%; }

  .col-lg-main {
    width: calc(100% - 200px); }

  .col-lg-side {
    width: 200px; }

  .offset-lg-1 {
    margin-left: 8.3333333333%; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .offset-lg-2 {
    margin-left: 16.6666666667%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .col-lg-3 {
    width: 25%; }

  .offset-lg-4 {
    margin-left: 33.3333333333%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .offset-lg-5 {
    margin-left: 41.6666666667%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .col-lg-6 {
    width: 50%; }

  .offset-lg-7 {
    margin-left: 58.3333333333%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .offset-lg-8 {
    margin-left: 66.6666666667%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .col-lg-9 {
    width: 75%; }

  .offset-lg-10 {
    margin-left: 83.3333333333%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .offset-lg-11 {
    margin-left: 91.6666666667%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .offset-lg-12 {
    margin-left: 100%; }

  .col-lg-12 {
    width: 100%; }

  .flex-order-lg-1 {
    order: 1; }

  .flex-order-lg-2 {
    order: 2; }

  .flex-order-lg-3 {
    order: 3; }

  .flex-order-lg-4 {
    order: 4; }

  .flex-order-lg-5 {
    order: 5; }

  .flex-order-lg-6 {
    order: 6; }

  .flex-order-lg-7 {
    order: 7; }

  .flex-order-lg-8 {
    order: 8; }

  .flex-order-lg-9 {
    order: 9; }

  .flex-order-lg-10 {
    order: 10; }

  .flex-order-lg-11 {
    order: 11; }

  .flex-order-lg-12 {
    order: 12; } }
@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px; }

  .col-xl-seventh {
    width: 14.2857%; }

  .col-xl-1fifth {
    width: 20%; }

  .col-xl-2fifth {
    width: 40%; }

  .col-xl-3fifth {
    width: 60%; }

  .col-xl-4fifth {
    width: 80%; }

  .col-xl-main {
    width: calc(100% - 200px); }

  .col-xl-side {
    width: 200px; }

  .offset-xl-1 {
    margin-left: 8.3333333333%; }

  .col-xl-1 {
    width: 8.3333333333%; }

  .offset-xl-2 {
    margin-left: 16.6666666667%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .col-xl-3 {
    width: 25%; }

  .offset-xl-4 {
    margin-left: 33.3333333333%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .offset-xl-5 {
    margin-left: 41.6666666667%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .col-xl-6 {
    width: 50%; }

  .offset-xl-7 {
    margin-left: 58.3333333333%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .offset-xl-8 {
    margin-left: 66.6666666667%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .col-xl-9 {
    width: 75%; }

  .offset-xl-10 {
    margin-left: 83.3333333333%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .offset-xl-11 {
    margin-left: 91.6666666667%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .offset-xl-12 {
    margin-left: 100%; }

  .col-xl-12 {
    width: 100%; }

  .flex-order-xl-1 {
    order: 1; }

  .flex-order-xl-2 {
    order: 2; }

  .flex-order-xl-3 {
    order: 3; }

  .flex-order-xl-4 {
    order: 4; }

  .flex-order-xl-5 {
    order: 5; }

  .flex-order-xl-6 {
    order: 6; }

  .flex-order-xl-7 {
    order: 7; }

  .flex-order-xl-8 {
    order: 8; }

  .flex-order-xl-9 {
    order: 9; }

  .flex-order-xl-10 {
    order: 10; }

  .flex-order-xl-11 {
    order: 11; }

  .flex-order-xl-12 {
    order: 12; } }
.flex-parent {
  display: flex; }

.flex-child {
  flex: 1 1 auto; }

.flex-none {
  flex: none; }

.clearfix:after {
  clear: both;
  content: '';
  display: table; }

.center {
  margin-left: auto;
  margin-right: auto; }

.phillip-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

.pos-relative {
  position: relative; }

.pos-absolute {
  position: absolute; }

.left {
  float: left; }

.right {
  float: right; }

.flex-parent {
  display: flex; }

.flex-child {
  flex: 1 1 auto; }

.flex-child-center {
  align-self: center;
  flex-shrink: 1; }

.flex-none {
  flex: none; }

.noPadding {
  padding: 0; }

.p-relative {
  position: relative; }

.warning {
  color: #FF555D; }

.emphasis {
  color: #FFE387; }

.content {
  margin-top: -7px; }

.card {
  position: relative;
  top: 50%;
  transform: translate(0, -50%); }
  .card-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: inline-block; }

.setUp-container {
  height: 100vh;
  overflow: hidden; }
  .setUp-container .img-captain {
    background-image: url(../images/you.svg); }
  .setUp-container .img-crewOne {
    background-image: url(../images/crew1.svg); }
  .setUp-container .img-crewTwo {
    background-image: url(../images/crew2.svg); }
  .setUp-container .img-crewThree {
    background-image: url(../images/crew3.svg); }
  .setUp-container .img-crewFour {
    background-image: url(../images/crew4.svg); }

#setUp-profession .job {
  border: 3px solid #EEFFFC;
  padding: .5em;
  padding-bottom: 1em;
  cursor: pointer;
  transition: border 0.3s; }
  #setUp-profession .job .img-farmer {
    background-color: #0B4574; }
  #setUp-profession .job .setUp-desc {
    transition: color 0.3s; }
  #setUp-profession .job:hover {
    border-color: #bffcf1; }
    #setUp-profession .job:hover .setUp-desc {
      color: #bffcf1; }
  #setUp-profession .job .setUp-button {
    border-width: 0px;
    display: block;
    padding: 0; }
#setUp-profession .active .job {
  border-color: #2DF5D0; }
  #setUp-profession .active .job .setUp-desc {
    color: #2DF5D0; }
#setUp-month .month-choice {
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  border: 3px solid #EEFFFC;
  transition: border 0.3s, color 0.3s;
  padding: .25em .5em; }
  #setUp-month .month-choice:hover {
    color: #bffcf1;
    border-color: #bffcf1; }
#setUp-month .active .month-choice {
  color: #2DF5D0;
  border-color: #2DF5D0; }
#setUp-shop .overSpent {
  display: none;
  text-align: center; }
#setUp-shop .item {
  position: relative;
  padding-bottom: 30px; }
  #setUp-shop .item img {
    width: 30%;
    margin-left: 35%; }
  #setUp-shop .item-title {
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0; }
  #setUp-shop .item-cost {
    text-align: center; }
  #setUp-shop .item-buy {
    text-align: center; }
  #setUp-shop .item input {
    margin-top: 0;
    display: inline-block;
    width: 40px; }
#setUp-shop .receipt {
  vertical-align: middle; }

input[name=captain] {
  width: 100%; }

.setUp-button {
  border: 3px solid #EEFFFC;
  display: inline-block;
  padding: .25em .5em;
  margin-top: 1em; }
  .setUp-button:hover {
    color: #2DF5D0;
    text-shadow: 0 0 15px #2DF5D0;
    cursor: pointer;
    border-color: #2DF5D0; }

.setUp-desc {
  text-align: center; }

.spaceScreen-container {
  display: none;
  height: 100vh; }

.progressConsole {
  content: "";
  height: 100%;
  width: 100%;
  overflow: auto;
  border: 1px solid rgba(239, 255, 252, 0.1);
  padding: 8px; }
  .progressConsole p {
    margin-top: 0; }
    .progressConsole p:last-child {
      margin-bottom: 0; }
  .progressConsole::-webkit-scrollbar {
    background-color: rgba(62, 244, 208, 0.3);
    width: 8px; }
  .progressConsole::-webkit-scrollbar-thumb {
    background-color: #2DF5D0; }
  .progressConsole-container {
    background-color: #323E4C;
    width: 600px;
    height: 150px;
    content: "";
    padding: 1em 1.25em;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0); }
  .progressConsole-dragHandle {
    width: 100%; }

.dragHandle {
  content: "";
  height: 10px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid #071f50;
  border-bottom: 3px solid #071f50; }

.displayWindow {
  position: absolute;
  height: calc(100% - 235px);
  content: "";
  top: 170px;
  left: 70px;
  right: 70px; }
  .displayWindow > div {
    height: 100%; }

.display-captain {
  content: "";
  height: 100%;
  background-image: url("../images/you.svg"); }

.display-obstacle {
  content: "";
  height: 100%;
  background-image: url("../images/pirate.svg"); }

.monthDay {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0); }

.travel-options {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center; }
  .travel-options .screen-width {
    width: 83.3333333%;
    margin-left: 8.3333333%; }
  .travel-options .option {
    padding: .5em .75em;
    border: 3px solid #EEFFFC;
    cursor: pointer;
    transition: border 0.3s, color 0.3s; }
    .travel-options .option:hover {
      border-color: #2DF5D0;
      color: #2DF5D0; }

.hide {
  display: none; }

.sidebar-left {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(10px, -50%); }

.sidebar-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%); }

.inventory ul, .stats ul .paceRation ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

.inventory {
  position: relative;
  padding-top: 20px; }
  .inventory li {
    margin-bottom: 25px; }
  .inventory .full-bar {
    content: '';
    margin-left: -5px;
    width: 0px;
    height: 16px;
    background-color: #0B4574;
    display: inline-block;
    transform: skew(15deg, 0deg); }
  .inventory .bar {
    content: "";
    width: 0px;
    height: 16px;
    background-color: #2DF5D0;
    display: inline-block;
    transform: skew(15deg, 0deg); }
  .inventory img {
    position: relative;
    top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle; }
  .inventory .food .info {
    position: absolute;
    left: 0px;
    top: -3px; }
  .inventory .fuel .info {
    position: absolute;
    left: 0px;
    top: 42px; }
  .inventory .ammo .info {
    position: absolute;
    left: 0px;
    top: 87px; }
  .inventory .fuel, .inventory .food, .inventory .ammo {
    vertical-align: middle; }

.stats {
  margin-top: 20px; }
  .stats img {
    position: relative;
    top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle; }
  .stats li {
    margin-bottom: 20px; }

.paceRation {
  padding-top: 11px; }
  .paceRation .para {
    padding-bottom: 19px; }
  .paceRation img {
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 10px; }

.blackHole {
  position: relative;
  top: 50%;
  transform: translate(0, -60%); }
  .blackHole-container {
    position: relative;
    top: 190px;
    height: calc(100vh - 190px); }
  .blackHole p {
    margin-top: 0;
    text-align: center; }
  .blackHole .item {
    position: relative;
    padding-bottom: 30px; }
    .blackHole .item img {
      width: 30%;
      margin-left: 35%; }
    .blackHole .item-title {
      text-align: center;
      font-size: 1.1em;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 0; }
    .blackHole .item-cost {
      text-align: center; }
    .blackHole .item-buy {
      text-align: center; }
    .blackHole .item input {
      margin-top: 0;
      display: inline-block;
      width: 40px; }

.planetX {
  position: relative;
  top: 190px;
  height: calc(100vh - 190px); }
  .planetX .activities-container {
    position: relative;
    top: 50%;
    transform: translate(0, -60%); }
  .planetX .act {
    border: 3px solid #EEFFFC;
    padding: .5em;
    padding-bottom: 1em;
    cursor: pointer;
    transition: border 0.3s; }
    .planetX .act:hover {
      border-color: #2DF5D0; }
      .planetX .act:hover .act-desc {
        color: #2DF5D0; }
    .planetX .act-desc {
      text-align: center; }

.trade-container {
  position: relative;
  height: calc(100vh - 82px); }
.trade h2 {
  margin-bottom: 20px; }
.tradeable {
  margin-top: 20px; }
  .tradeable-items {
    text-align: center; }
  .tradeable img {
    width: 30px;
    vertical-align: middle;
    text-align: center; }
  .tradeable span {
    vertical-align: middle;
    text-align: center; }

.overpriced .trader {
  border: 3px solid #FF555D;
  pointer-events: none; }

.trader {
  border: 3px solid #EEFFFC;
  padding: .5em;
  padding-bottom: 1em;
  cursor: pointer;
  transition: border 0.3s;
  height: 100%; }
  .trader:hover {
    border-color: #2DF5D0;
    color: #2DF5D0; }
  .trader-price, .trader .trader-info {
    vertical-align: bottom;
    text-align: center; }

.bars {
  position: relative;
  top: 50%;
  transform: translate(0, -60%); }
.bar-container {
  height: calc(100vh - 190px);
  position: relative;
  top: 190px; }
.bar-person {
  border: 3px solid #EEFFFC;
  padding: .5em;
  cursor: pointer; }
  .bar-person:hover {
    border-color: #2DF5D0;
    color: #2DF5D0; }
.bar-name {
  text-align: center; }

.end-points {
  color: #2DF5D0; }

.home p {
  text-align: center; }

@media (min-width: 480px) and (max-width: 639px) {
  #setUp-shop .item {
    padding-bottom: 0; }
    #setUp-shop .item p {
      margin-bottom: 10px;
      margin-top: 10px; }
    #setUp-shop .item img {
      height: 1.3em; }
    #setUp-shop .item-top {
      display: inline-block;
      width: 20%; }
    #setUp-shop .item-cost {
      display: inline-block;
      width: 40%; }
    #setUp-shop .item-buy {
      display: inline-block;
      width: 33%; } }
@media (max-width: 639px) {
  #setUp-crew .image1to1 {
    width: 50%;
    margin-left: 25%; }

  #setUp-shop .item-top {
    display: inline-block; }

  .travel-options .screen-width {
    width: 100%;
    margin-left: 0; }

  .progressConsole-container {
    width: calc(100% - 40px); } }
@media (max-width: 479px) {
  #setUp-shop .item {
    padding: 0 5px; }
    #setUp-shop .item p {
      margin-bottom: 10px;
      margin-top: 10px; }
    #setUp-shop .item-top {
      width: 25%; }
    #setUp-shop .item img {
      display: inline-block;
      width: 20%;
      margin-left: 0;
      vertical-align: middle; }
    #setUp-shop .item-title {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      width: 70%; }
    #setUp-shop .item-cost {
      width: 33.5%;
      vertical-align: middle;
      display: inline-block; }
    #setUp-shop .item-buy {
      width: 33%;
      vertical-align: middle;
      display: inline-block; }
  #setUp-shop .receipt {
    padding-top: 0; }
    #setUp-shop .receipt p {
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center; } }
.well {
  padding: 10px;
  background-color: #eee;
  border-radius: 4px;
  height: 100%; }

.content > section {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .content > section div {
    margin-left: auto;
    margin-right: auto; }
  .content > section p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
    .content > section p.question {
      color: #079b80;
      margin-bottom: 0;
      font-weight: 400; }
    .content > section p.answer {
      margin-top: 0.25em;
      margin-bottom: 1.25em; }
  .content > section img {
    max-width: 100%; }

.button {
  font-family: "Source Code Pro", monospace, sans-serif;
  color: #2DF5D0;
  font-size: 200%;
  font-weight: 700;
  border: 3px solid #2DF5D0;
  text-transform: uppercase;
  display: inline-block;
  padding: .05em .2em;
  border-radius: .3em;
  margin-top: .3em;
  margin-bottom: .3em;
  text-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  transition: all 500ms;
  text-align: center; }
  .button:hover {
    text-shadow: 0 0 15px #2DF5D0;
    box-shadow: 0 0 15px #2DF5D0;
    color: #2DF5D0; }

#game .content {
  position: relative; }

.image1to1 {
  position: relative;
  width: 100%; }
  .image1to1:before {
    content: '';
    display: block;
    padding-top: 100%; }
  .image1to1 > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.imageHalfto1 {
  position: relative;
  width: 100%; }
  .imageHalfto1:before {
    content: '';
    display: block;
    padding-top: 50%; }
  .imageHalfto1 > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.setUp-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

.trades {
  position: relative;
  top: 50%;
  transform: translate(0, -50%); }

.setUp-container .img-captain, .setUp-container .img-crewOne, .setUp-container .img-crewTwo, .setUp-container .img-crewThree, .setUp-container .img-crewFour, .display-captain, .display-obstacle {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
