.clearfix{
	@include clearfix;
}

.center{
	@include center-child-horizontal;
}


.phillip-parent{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events:none;
}

.pos-relative{
	position: relative;
}

.pos-absolute{
	position: absolute;
}

.left{
	float: left;
}

.right{
	float: right;
}

.flex-parent {
	display: flex;
}
.flex-child {
	flex: 1 1 auto;
}
.flex-child-center {
	align-self: center;
	flex-shrink: 1;
}
.flex-none {
	flex: none;
}

.noPadding {
	padding: 0;
}

.p-relative{
	position: relative;
}






.warning{
	color: $color-warning;
}

.emphasis{
	color: $color-highlight;
}

.content{
	margin-top: -7px;
}

.card{
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	&-container{
		width: 100%;
		height: 100vh;
		position: relative;
		display: inline-block;
		// transition: all 0.5s;
	}
}

.setUp-container{
	// height: calc(100vh - 44px);
	height: 100vh;
	overflow: hidden;


	.img-captain, .img-crewOne, .img-crewTwo, .img-crewThree, .img-crewFour{
		@extend %background-image-basic;
	}
	.img-{
		&captain{
			background-image: url(../images/captain-normal.svg);
		}
		&crewOne{
			background-image: url(../images/crew1.svg);
		}
		&crewTwo{
			background-image: url(../images/crew2.svg);
		}
		&crewThree{
			background-image: url(../images/crew3.svg);
		}
		&crewFour{
			background-image: url(../images/crew4.svg);
		}
	}
	input[type="text"]{
		color: #acb7b5;
		border-bottom-color: $color-highlight;
	}
}

#setUp{
	
	&-profession{
		
		.job{
			border: 3px solid $color-tri;
			padding: .5em;
			padding-bottom: 1em;
			cursor: pointer;
			transition: border 0.3s;

			.img-farmer{
				background-color: $color-sec;
			}

			.setUp-desc{
				transition: color 0.3s;
			}
			
			&:hover{
				border-color: lighten($color-prime, 30%);
				.setUp-desc{
					color: lighten($color-prime, 30%);
				}
			}

			.setUp-button{
				border-width: 0px;
				display: block;
				padding: 0;

			}
			

		}
		.active{
			.job{
				border-color: $color-prime;

				.setUp-desc{
					color: $color-prime;
				}
			}
		}
	}

	&-month{
		
		.month-choice{
			font-size: 1.2em;
			text-align: center;
			cursor: pointer;
			border: 3px solid $color-tri;
			transition: border 0.3s, color 0.3s;
			padding: .25em .5em;

			&:hover{
				color: lighten($color-prime, 30%);
				border-color: lighten($color-prime, 30%);
			}
		}
		.active{
			.month-choice{
				color: $color-prime;
				border-color: $color-prime;
			}
		}
	}

	&-shop{
		.shop-inventory{
			margin-top: 50px;
		}
		.overSpent{
			display: none;
			text-align: center;
		}
		.item{
			position: relative;
			padding-bottom: 30px;
			img{
				width: 30%;
				margin-left: 35%;
			}

			&-title{
				text-align: center;
				font-size: 1.1em;
				font-weight: 600;
				text-transform: uppercase;
				margin-top: 0;
			}

			&-cost{
				text-align: center;
			}

			&-buy{
				text-align: center;
			}

			input{
				margin-top: 0;
				display: inline-block;
				width: 40px;
				border-bottom-color: $color-highlight;
				color: $color-highlight;
			}
		}

		.receipt{
			vertical-align: middle;

			h4{
				text-align: left;
			}
			
		}
	}


}

input[name=captain]{
	width: 100%;
}

.setUp-button{
	border:3px solid $color-tri;
	display: inline-block;
	padding: .25em .5em;
	@extend %center-horizontally;
	margin-top: 1em;

	&:hover{
		color: $color-prime;
		text-shadow: 0 0 15px $color-prime;
		cursor: pointer;
		border-color: $color-prime;
	}
}

.setUp-desc{
	text-align: center;
}




//game
.spaceScreen-container{
	display: none;
	// height: calc(100vh - 44px);
	height: 100vh;
}

.progressConsole{
	content: "";
	height: 100%;
	width: 100%;
	overflow: auto;
	border: 1px solid rgba(239,255,252,.1);
	padding: 8px;
	p{
		margin-top: 0;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&::-webkit-scrollbar{
		background-color: rgba(62,244,208,.3);
		width: 8px;
	}

	&::-webkit-scrollbar-thumb{
		background-color: $color-prime;
	}
	
	&-container{
		background-color:#323E4C;
		width: 600px;
		height: 150px;
		content: "";
		padding: 1em 1.25em;
		position: absolute;
		top: 20px;
		left: 50%;
		transform:translate(-50%, 0);
	}

	&-dragHandle{
		width: 100%;
	}
}

.dragHandle{
	content: "";
	height: 10px;
	width: 20px;
	margin-left: auto;
	margin-right: auto;
	border-top: 3px solid lighten($color-back, 10%);
	border-bottom: 3px solid lighten($color-back, 10%);

}

.displayWindow{
	// background-color: $color-highlight;
	position: absolute;
	// width: calc(100% - 70px);
	height: calc(100% - 235px);
	content: "";
	top: 170px;
	left: 100px;
	right: 100px;

	&>div{
		height: 100%;
	}
}

.display-captain{
	content: "";
	height: 100%;
	@extend %background-image-basic;
	background-image: url("../images/captain-normal.svg");
}

.display-obstacle{
	content: "";
	height: 100%;
	@extend %background-image-basic;
	// background-image: url("../images/pirate.svg");
}

.monthDay{
	position: absolute;
	left: 50%;
	bottom: 70px;
	transform:translate(-50%, 0);
}

.travel-options{
	position: absolute;
	width: 100%;
	bottom: 20px;
	text-align: center;
	.screen-width{
		width: 83.3333333%;
		margin-left: 8.3333333%
	}

	.option{
		padding: .5em .75em;
		border: 3px solid $color-tri;
		cursor: pointer;
		transition: border 0.3s, color 0.3s;

		&:hover{
			border-color: $color-prime;
			color: $color-prime;
		}
	}
}

.hide{
	display: none;
}

.sidebar-left{
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(10px,-50%);
}

.sidebar-right{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0,-50%);
}

.inventory ul, .stats ul .paceRation ul{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom:0;
}

.inventory{
  position:relative;
  padding-top:20px;
  li{
    margin-bottom: 25px;
  }
  .full-bar{
    content:'';
    margin-left:-5px;
    // width:100px;
    width:0px;
    height:16px;
    background-color: $color-sec;
    display:inline-block;
    transform: skew(15deg,0deg);
  }
  .bar{
    content: "";
    // width:100px;
    width:0px;
    height:16px;
    background-color: $color-prime;
    display:inline-block;
    transform: skew(15deg,0deg);
  }
  
  img{
    position:relative;
    top:-2px;
    width:20px;
    height:20px;
    vertical-align: middle;
  }
  .food .info{
    position: absolute;
    left: 0px;
    top: -3px;
  }
  .fuel .info{
    position: absolute;
    left: 0px;
    top: 42px;
  }
  .ammo .info{
    position: absolute;
    left: 0px;
    top: 87px;
  }
  .fuel,.food,.ammo{
    vertical-align: middle;
  }
}

.stats{
  margin-top:20px;
  img{
    position:relative;
    top:-2px;
    width:20px;
    height:20px;
    vertical-align: middle;
  }
  li{
    margin-bottom: 20px;
  }
}

.paceRation{
	padding-top: 11px;

	.para{
		margin-bottom: 15px;
		padding: .2em .5em;
		border: 2px solid $color-tri;
		text-transform: capitalize;
		cursor: pointer;
		width: 110px;
		font-size: 80%;

		&:hover{
			border-color: lighten($color-prime, 30%);
			color: lighten($color-prime, 30%);
		}
	}
	img{
		width: 20px;
		height: 20px;
		float: right;
		margin-left: 10px;
	}
	li{
		
	}
}

.blackHole{
	position: relative;
	top: 50%;
	transform: translate(0, -60%);
	&-container{
		position: relative;
		top: 190px;
		height: calc(100vh - 190px);
	}

	p{
		margin-top: 0;
		text-align: center;
	}

	.item{
		position: relative;
		padding-bottom: 30px;
		img{
			width: 30%;
			margin-left: 35%;
		}

		&-title{
			text-align: center;
			font-size: 1.1em;
			font-weight: 600;
			text-transform: uppercase;
			margin-top: 0;
		}

		&-cost{
			text-align: center;
		}

		&-buy{
			text-align: center;
		}

		input{
			margin-top: 0;
			// position: absolute;
			// bottom: 0;
			// width: 90%;
			// left:5%;
			display: inline-block;
			width: 40px;
		}
	}
}



.planetX{
	position: relative;
	top: 190px;
	height: calc(100vh - 190px);
	.activities-container{
		position: relative;
		top: 50%;
		transform: translate(0, -60%);
	}
	.act{
		border: 3px solid $color-tri;
		padding: .5em;
		padding-bottom: 1em;
		cursor: pointer;
		transition: border 0.3s;

		&:hover{
			border-color: $color-prime;
			.act-desc{
				color: $color-prime;
			}
		}

		&-desc{
			text-align: center;
		}
	}
}

.trade{
	&s{
		@extend %center-vertically;
	}
	&-container{
		position: relative;
		height:calc(100vh - 82px);
	}

	h2{
		margin-bottom: 20px;
	}

	&able{
		margin-top: 20px;
		&-items{
			text-align: center;
		}
		img{
			width: 30px;
			vertical-align: middle;
			text-align: center;
		}
		span{
			vertical-align: middle;
			text-align: center;
		}
	}
}

.overpriced{
	.trader{
		border: 3px solid $color-warning;
		pointer-events: none;

	}
}

.trader{
	border: 3px solid $color-tri;
	padding: .5em;
	padding-bottom: 1em;
	cursor: pointer;
	transition: border 0.3s;
	height: 100%;

	&:hover{
		border-color: $color-prime;
		color: $color-prime;
	}

	&-price, .trader-info{
		vertical-align: bottom;
		text-align: center;
	}
}

.bar{
	&s{
		position: relative;
		top: 50%;
		transform: translate(0, -60%);
	}
	
	&-container{
		height: calc(100vh - 190px);
		position: relative;
		top: 190px;
	}

	&-person{
		border: 3px solid $color-tri;
		padding: .5em;
		cursor: pointer;
		&:hover{
			border-color: $color-prime;
			color: $color-prime;
		}
	}
	&-name{
		text-align: center;
	}
}

//end
.end-points{
	color: $color-prime;
}

.home{
	@extend %center-vertically;
	&-container{
		height: 100vh;
	}

	p{
		text-align: center;
	}
}


//sm
@media (min-width: 480px) and (max-width: 639px){
	#setUp-shop{
		.item{
			p{
				margin-bottom: 10px;
				margin-top: 10px;
			}
			padding-bottom: 0;
			img{
				height: 1.3em;
			}

			&-top{
				display: inline-block;
				width: 20%;
			}
			&-cost{
				display: inline-block;
				width: 40%;
			}

			&-buy{
				display: inline-block;
				width: 33%;
			}
		}
		// .receipt{
		// 	border-left: 1px solid $color-tri;
		// }
	}
}

//sm and lower
@media (max-width: 639px) {
	#setUp-crew{
		.image1to1{
			width: 50%;
			margin-left: 25%;
		}
	}

	#setUp-shop{
		.item{
			&-top{
				display: inline-block;
			}
		}
	}

	.travel-options{
		.screen-width{
			width: 100%;
			margin-left: 0;
		}
	}

	.progressConsole{
		&-container{
			width: calc(100% - 40px);
		}
	}

}

//xs
@media (max-width: 479px){
	#setUp-shop{
		.item{
			padding: 0 5px;
			p{
				margin-bottom: 10px;
				margin-top: 10px;
			}

			&-top{
				width: 25%;
			}
			img{
				display: inline-block;
				width: 20%;
				margin-left: 0;
				vertical-align: middle;
			}
			&-title{
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0;
				width: 70%;
			}
			&-cost{
				width: 33.5%;
				vertical-align: middle;
				display: inline-block;
			}
			&-buy{
				width: 33%;
				vertical-align: middle;
				display: inline-block;
			}
		}
		.receipt{
			padding-top: 0;
			p{
				margin-bottom: 10px;
				margin-top: 10px;
				text-align: center;
			}
		}
	}
}