.clearfix{
	@include clearfix;
}

.center{
	@include center-child-horizontal;
}


.phillip-parent{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events:none;
}

.pos-relative{
	position: relative;
}

.pos-absolute{
	position: absolute;
}

.left{
	float: left;
}

.right{
	float: right;
}

.flex-parent {
	display: flex;
}
.flex-child {
	flex: 1 1 auto;
}
.flex-child-center {
	align-self: center;
	flex-shrink: 1;
}
.flex-none {
	flex: none;
}

.noPadding {
	padding: 0;
}






.warning{
	color: $color-warning;
}

.card{
	position: relative;
	top: 50%;
	transform: translate(0, -60%);
	&-container{
		width: 100%;
		height: calc(100vh - 44px);
		position: relative;
		display: inline-block;
		// transition: all 0.5s;
	}
}

.setUp-container{
	height: calc(100vh - 44px);
	overflow: hidden;


	.img-captain, .img-crewOne, .img-crewTwo, .img-crewThree, .img-crewFour{
		@extend %background-image-basic;
	}
	.img-{
		&captain{
			background-image: url(../images/you.svg);
		}
		&crewOne{
			background-image: url(../images/crew1.svg);
		}
		&crewTwo{
			background-image: url(../images/crew2.svg);
		}
		&crewThree{
			background-image: url(../images/crew3.svg);
		}
		&crewFour{
			background-image: url(../images/crew4.svg);
		}
	}
}

#setUp{
	&-profession{
		
		.job{
			border: 3px solid $color-tri;
			padding: .5em;
			padding-bottom: 1em;
			cursor: pointer;
			transition: border 0.3s;

			.img-farmer{
				background-color: $color-sec;
			}

			.setUp-desc{
				transition: color 0.3s;
			}
			
			&:hover{
				border-color: lighten($color-prime, 30%);
				.setUp-desc{
					color: lighten($color-prime, 30%);
				}
			}

			.setUp-button{
				border-width: 0px;
				display: block;
				padding: 0;

			}
			

		}
		.active{
			.job{
				border-color: $color-prime;

				.setUp-desc{
					color: $color-prime;
				}
			}
		}
	}

	&-month{
		
		.month-choice{
			font-size: 1.2em;
			text-align: center;
			cursor: pointer;
			border: 3px solid $color-tri;
			transition: border 0.3s, color 0.3s;
			padding: .25em .5em;

			&:hover{
				color: lighten($color-prime, 30%);
				border-color: lighten($color-prime, 30%);
			}
		}
		.active{
			.month-choice{
				color: $color-prime;
				border-color: $color-prime;
			}
		}
	}

	&-shop{
		.overSpent{
			display: none;
			text-align: center;
		}
		.item{
			position: relative;
			padding-bottom: 30px;
			img{
				width: 30%;
				margin-left: 35%;
			}

			&-title{
				text-align: center;
				font-size: 1.1em;
				font-weight: 600;
				text-transform: uppercase;
				margin-top: 0;
			}

			&-cost{
				text-align: center;
			}

			&-buy{
				text-align: center;
			}

			input{
				margin-top: 0;
				// position: absolute;
				// bottom: 0;
				// width: 90%;
				// left:5%;
				display: inline-block;
				width: 40px;
			}
		}

		.receipt{
			vertical-align: middle;
		}
	}


}

input[name=captain]{
	width: 100%;
}

.setUp-button{
	border:3px solid $color-tri;
	display: inline-block;
	padding: .25em .5em;
	@extend %center-horizontally;
	margin-top: 1em;

	&:hover{
		color: $color-prime;
		text-shadow: 0 0 15px $color-prime;
		cursor: pointer;
		border-color: $color-prime;
	}
}

.setUp-desc{
	text-align: center;
}



.sidebar{
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
}

.inventory{
  position:relative;
  padding-top:20px;
  li{
    margin-bottom: 15px;
  }
  .full-bar{
    content:'';
    margin-left:-5px;
    // width:100px;
    width:0px;
    height:20px;
    background-color: $color-sec;
    display:inline-block;
    transform: skew(15deg,0deg);
  }
  .bar{
    content: "";
    // width:100px;
    width:0px;
    height:20px;
    background-color: $color-prime;
    display:inline-block;
    transform: skew(15deg,0deg);
  }
  
  img{
    position:relative;
    top:-2px;
    width:20px;
    height:20px;
    vertical-align: middle;
  }
  .food .info{
    position: absolute;
    left: 0px;
    top: 10px;
  }
  .fuel .info{
    position: absolute;
    left: 0px;
    top: 50px;
  }
  .ammo .info{
    position: absolute;
    left: 0px;
    top: 89px;
  }
  .fuel,.food,.ammo{
    vertical-align: middle;
  }
}


//sm
@media (min-width: 480px) and (max-width: 639px){
	#setUp-shop{
		.item{
			p{
				margin-bottom: 10px;
				margin-top: 10px;
			}
			padding-bottom: 0;
			img{
				height: 1.3em;
			}

			&-top{
				display: inline-block;
				width: 20%;
			}
			&-cost{
				display: inline-block;
				width: 40%;
			}

			&-buy{
				display: inline-block;
				width: 33%;
			}
		}
		// .receipt{
		// 	border-left: 1px solid $color-tri;
		// }
	}
}

//sm and lower
@media (max-width: 639px) {
	#setUp-crew{
		.image1to1{
			width: 50%;
			margin-left: 25%;
		}
	}

	#setUp-shop{
		.item{
			&-top{
				display: inline-block;
			}
		}
	}

}

//xs
@media (max-width: 479px){
	#setUp-shop{
		.item{
			padding: 0 5px;
			p{
				margin-bottom: 10px;
				margin-top: 10px;
			}

			&-top{
				width: 25%;
			}
			img{
				display: inline-block;
				width: 20%;
				margin-left: 0;
				vertical-align: middle;
			}
			&-title{
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0;
				width: 70%;
			}
			&-cost{
				width: 33.5%;
				vertical-align: middle;
				display: inline-block;
			}
			&-buy{
				width: 33%;
				vertical-align: middle;
				display: inline-block;
			}
		}
		.receipt{
			padding-top: 0;
			p{
				margin-bottom: 10px;
				margin-top: 10px;
				text-align: center;
			}
		}
	}
}