html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

::selection{
	background: $color-sec;
	color: $color-prime;
}

body {
	margin: 0;
	font-family: $font-body;
	color: $color-sec;
	background-color: $color-tri;
	font-size: 100%;
	font-weight: 100;

	&#game {
		overflow: hidden;
		height: 100vh;
	}
}

a{
	color: $color-sec;
	text-decoration: none;
	// border-bottom: 2px solid $color-tri;
	border-radius: .15em;

	&:hover{
		color: $color-prime;
		text-shadow: 0 0 15px $color-prime;
		// border-bottom-color:$color-prime;
	}
}


h1,h2,h3,h4,h5,h6{
	margin: 0;
}

h1{
	font-family: $font-heading;
	color: $color-prime;
	font-size: 400%;
	font-weight: 700;
	border: 5px solid $color-prime;
	text-transform: uppercase;
	display: inline-block;
	padding: .05em .2em;
	border-radius: .15em;
	margin-bottom: .3em;
	margin-bottom: .3em;
	text-shadow: 0 0 15px $color-prime;
	box-shadow: 0 0 15px $color-prime;
}

h2{
	font-family: $font-heading;
	color: $color-prime;
	font-size: 300%;
	font-weight: 700;
	text-shadow: 0 0 15px $color-prime;
	margin-bottom: .3em;
	margin-top: .3em;
	text-transform: uppercase;
}

h3{
	font-family: $font-body;
	font-size: 200%;
	font-weight: 400;
	text-transform: uppercase;
}

h4{
	font-family: $font-body;
	font-size: 150%;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;

	&:hover{
		color: $color-prime;
		text-shadow: 0 0 15px $color-prime;
		cursor: pointer;
	}
}

section{
	display: table;
	height: 100vh;
	width: 100%;
}

input{
	border: 0;
	border-bottom: 3px solid $color-sec;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	background-color: transparent;
	font-size: 150%;
	text-align: center;
	font-family: $font-body;
	margin-top: 1em;
	color: $color-sec;
	font-weight: 100;
	&:focus{
		outline: none;
	}
	li>&{
		width:100%;
	}
}

ol{
	text-align: left;
	width: 50%;
	margin-left: 23%;
	li{
		width:100%;
	}
}

ul{
	color: $color-prime;
	li{
		display: inline-block;
		padding: .2em .5em;
	}
}

nav{
	position: fixed;
	top: 0;
	left: 0;
}