$color-prime: #2DF5D0;
$color-sec: #0B4574;
$color-tri: #EEFFFC;
$color-back: #030D21;
$color-highlight: #FFE387;
$color-warning: #FF555D;

$gutter-size:10px;
$column-length: 12;

$font: 'Source Code Pro', monospace, sans-serif;


//Sass Map(object)
$container-width:(
	xs:0,
	sm:480px,
	md:640px,
	lg:900px,
	xl:1200px,
	);

//Sass List(array)
$size-shortnames:("xs","sm","md","lg","xl");

$side-column:200px;


$sizes-map:(
	l:20px,
	m:10px,
	s:5px,
	n:0
	);

$positions-map: (
	t:top,
	r:right,
	b:bottom,
	l:left
	);

$boxes-map: (
	p:padding,
	m:margin
	);

$positioning-map:(
	a:absolute,
	f:fixed,
	s:static,
	r:relative,
	i:inherit
	);