.clearix{
	@include clearfix;
}

.center{
	@include center-child-horizontal;
}


.phillip-parent{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events:none;
}

.pos-relative{
	position: relative;
}

.pos-absolute{
	position: absolute;
}





.card-verticalAlign{
	vertical-align: middle;
	display: table-cell;
}





#card-title{
	text-align: center;
	@extend .card-verticalAlign;
	background-image: url("images/card-title-bkg.png");
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#card-spaceStation{
	text-align: center;
	@extend .card-verticalAlign;
}

#card-nameLeader{
	text-align: center;
	@extend .card-verticalAlign;
}

#card-nameMembers{
	text-align: center;
	@extend .card-verticalAlign;
}







@media (max-width: 899px) {
	#card-title{
		background-image: none;
	}

}